body, html,div{
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}
h1, p {
  text-align: center;
  color: rgb(58, 58, 146);
}

li{
  display: inline;
  margin-left: 10px;
}

a{
  text-decoration: none;
  color: rgb(82, 75, 75);
  font-size: 20px;
}
.listBrends{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: rgb(82, 75, 75);
  font-size: 15px;
}
.button{
  background-color: rgb(149, 149, 214);
}
.modelsStyle li {
  display: block;
  font-size: 25px;
}
.modelsStyle a{
  text-decoration: underline blue;
  margin-left: 25px;
  font-size: 15px;
}
ol{
  text-align: left;
  list-style-type: decimal;
}
.modelsStyle span{
  font-size: 20px;
  margin-right: 10px;
}
.model a{
  text-decoration: underline blue;
  margin-left: 25px;
  font-size: 15px;
  color: rgb(9, 9, 70)
}
.model{
width: 100%;
height: calc(100% - 200px);
}